.accordion {
  border: 2px solid var(--light-color);
  border-radius: 2px;
}

.accordion > div {
  position: relative;
  border-bottom: 1px solid var(--light-color);
}

.accordion > div:last-of-type {
  border-bottom: 0;
}

.accordion button {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0 48px 0 16px;
  background-color: initial;
  color: initial;
  font-size: unset;
  font-weight: initial;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.accordion button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion button:hover,
.accordion button:focus {
  background-color: var(--light-color);
}

.accordion button[aria-expanded="true"] {
  background-color: var(--dark-color);
}

.accordion button[aria-expanded="true"]::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion .accordion-content {
  padding: 16px;
  border-top: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
}
