.dialog.block dialog {
  overscroll-behavior: none;
  border: 1px solid #ccc;
  border-radius: 16px;
  left: 20px;
  right: 20px;
  width: clamp(300px, 80%, 700px);
}

.dialog.block dialog::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

.dialog.block .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  max-height: 66px;
  border-radius: 0 16px 0 0;
  background-color: unset;
  text-overflow: clip;
  margin: 0;
  border: none;
  padding-right: 46px;
  color: black;
  font-size: 34px;
  font-weight: lighter;
  font-family: monospace;
}
