.dialog.block dialog {
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 40vw;
  min-height: 20rem;
  margin-top: 40px;
  margin-bottom: 40px;
  overscroll-behavior: none;
}

.dialog.block :is(h1,h2,h3,h4,h5,h6):first-child {
  margin-top: 0;
}

.dialog.block dialog::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

.dialog.block .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  max-height: 66px;
  border-radius: 0 16px 0 0;
  background-color: unset;
  margin: 0;
  border: none;
  padding-right: 46px;
  color: black;
  font-size: 34px;
  font-weight: lighter;
  font-family: monospace;
}
