.consent-controls {
  display: flex;
  justify-content: space-between;
}

.consent-button {
  font-size: var(--body-font-size-m);
}

.consent-category-header {
  display: flex;
  justify-content: space-between;
}

.consent-category {
  padding-top: 10px;
}

.consent-category-desc {
  font-size: var(--body-font-size-s);
}

