<header></header>
<main>
    <div>
        <div class="fragment">
            <div>
                <div><a href="/test/blocks/fragment/test">https://main--bar--foo.hlx.page/test/blocks/fragment/test</a></div>
            </div>
        </div>
    </div>
    <div>
        <div class="fragment">
            <div>
                <div>/test/blocks/fragment/test</div>
            </div>
        </div>
    </div>
    <div>
        <div class="fragment">
            <div>
                <div>/does/not/exist</div>
            </div>
        </div>
    </div>
</main>
<footer></footer>