<div>
    <div class="example">
        <div>
            <div><picture><img src="/test/scripts/media_mock.png"></picture></div>
        </div>
    </div>
    <div class="example">
        <div>
            <div>
                <p>Hello world!</p>
            </div>
        </div>
    </div>
    <div class="section-metadata">
        <div>
          <div>Style</div>
          <div>Example Style</div>
        </div>
        <div>
          <div>Example Data</div>
          <div>Example Value</div>
        </div>
    </div>
</div>
